.lvl-passed {
    color: rgba(28, 122, 29, 0.61);
}

.lvl-not-reached {
    color: rgba(119, 118, 122, 0.61);
}
.lvl-button{
    line-height: 100%;
    margin-left: 20px;
}
.note{
    display: block;
    height: 200px;
    width: 500px;
    margin-bottom: 1em;
}